@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Root Variables */
@layer base {
  :root {
    /* Colors */
    --background: 60 25% 92%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 14 99% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 81% 66%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 1% 83%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 204 81% 66%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    /* Chart Colors */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Border Radius */
    --radius: 0.5rem;

    /* Typography */
    --font-sans: var(--font-general-sans);

    /* Font Sizes */
    --fs-xs: 0.875rem; /* 14px */
    --fs-sm: 1rem; /* 16px */
    --fs-base: 1.25rem; /* 20px */
    --fs-lg: 1.5rem; /* 24px */
    --fs-xl: 1.875rem; /* 30px */
    --fs-2xl: 2.25rem; /* 36px */
    --fs-3xl: 3rem; /* 48px */
    --fs-4xl: 3.4rem; /* 60px */
    --fs-5xl: 4.2rem; /* 72px */

    /* Line Heights */
    --lh-tight: 1; /* 100% */
    --lh-snug: 1.25; /* 125% */
    --lh-normal: 1.5; /* 150% */
    --lh-relaxed: 1.75; /* 175% */

    /* Letter Spacing */
    --tracking-tight: -0.05em;
    --tracking-normal: 0em;
    --tracking-wide: 0.05em;
  }

  .dark {
    --background: 0 0 13%;
    --foreground: 60 25% 92%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 14 99% 63%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 204 81% 66%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

/* Base Styles */
@layer base {
  * {
    @apply border-border;
  }

  body {
    font-size: var(--fs-base);
    font-family: var(--font-sans);
    font-weight: 400;
    line-height: var(--lh-normal);
    @apply bg-background text-foreground;
  }

  /* Heading Styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
    line-height: var(--lh-tight);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
  }

  h1 {
    font-size: var(--fs-5xl);

    font-weight: 700;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: var(--fs-4xl);
    }
  }

  h2 {
    font-size: var(--fs-4xl);
  }

  @media (max-width: 768px) {
    h2 {
      font-size: var(--fs-3xl);
    }
  }

  h3 {
    font-size: var(--fs-3xl);
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    h3 {
      font-size: var(--fs-2xl);
    }
  }

  h4 {
    font-size: var(--fs-2xl);
  }

  @media (max-width: 768px) {
    h4 {
      font-size: var(--fs-xl);
    }
  }

  h5 {
    font-size: var(--fs-xl);
  }

  @media (max-width: 768px) {
    h5 {
      font-size: var(--fs-lg);
    }
  }
}

/* Component Classes */
@layer components {
  /* Text Styles */
  .text-body {
    font-size: var(--fs-base);
    line-height: var(--lh-normal);
  }

  .text-body-small {
    font-size: var(--fs-sm);
    line-height: var(--lh-normal);
  }

  .text-caption {
    font-size: var(--fs-xs);
    line-height: var(--lh-snug);
    @apply text-muted-foreground;
  }

  /* Button Styles */
  .main-button {
    @apply bg-primary text-primary-foreground px-6 py-3 rounded-xl capitalize;
    font-size: var(--fs-base);
  }

  .main-button.dark {
    @apply bg-background text-foreground;
  }

  .main-button.full {
    @apply w-full;
  }

  /* Input Styles */
  .input-field {
    @apply border-foreground/60 shadow-none border-[1.8px] bg-white px-4 py-3 rounded-lg;
    font-size: var(--fs-base);
  }

  .input-label {
    @apply font-semibold ml-1 mb-2 block;
    font-size: var(--fs-sm);
  }

  /* Container Styles */
  .container-global {
    @apply container px-4 md:px-12 mx-auto;
  }

  .content-wrapper {
    @apply w-full flex flex-col gap-4;
  }

  .content-wrapper.center {
    @apply text-center mx-auto;
  }

  /* Section Padding */
  .section-padding-small {
    padding-top: 4rem; /* py-16 */
    padding-bottom: 4rem;
  }

  @media (max-width: 768px) {
    .section-padding-small {
      padding-top: 2rem; /* py-8 */
      padding-bottom: 2rem;
    }
  }

  .section-padding-medium {
    padding-top: 6rem; /* py-24 */
    padding-bottom: 6rem;
  }

  @media (max-width: 768px) {
    .section-padding-medium {
      padding-top: 3rem; /* py-12 */
      padding-bottom: 3rem;
    }
  }

  .section-padding-large {
    padding-top: 8rem; /* py-32 */
    padding-bottom: 8rem;
  }

  @media (max-width: 768px) {
    .section-padding-large {
      padding-top: 4rem; /* py-16 */
      padding-bottom: 4rem;
    }
  }
}

/* Utility Classes */
@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }

  .centered-wrapper {
    @apply w-full flex flex-col items-center justify-center;
  }
}

/* Animation Classes */
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.multistep-card_wrapper {
  @apply outline outline-1 rounded-md p-4 text-left flex flex-col gap-4 relative cursor-pointer text-sm;
}
.multistep-card_wrapper.highlight {
  @apply outline-2;
}

.multistep-text_input {
  @apply outline outline-1 rounded-md p-2 w-full md:w-[300px] text-base;
}
